<div class="reaction-picker d-none" data-role="reaction-picker">
    <button type="button" class="reaction-picker-btn" data-reaction-type="Like" title="Like">👍</button>
    <button type="button" class="reaction-picker-btn" data-reaction-type="Love" title="Love">❤️</button>
    <button type="button" class="reaction-picker-btn" data-reaction-type="Haha" title="Haha">😂</button>
    <button type="button" class="reaction-picker-btn" data-reaction-type="Wow" title="Wow">😮</button>
    <button type="button" class="reaction-picker-btn" data-reaction-type="Sad" title="Sad">😢</button>
    <button type="button" class="reaction-picker-btn" data-reaction-type="Angry" title="Angry">😡</button>
</div>
