<button type="button" class="user-search-result" data-user-id="0">
    <span class="user-search-avatar avatar" data-role="avatar">U</span>
    <span class="user-search-body min-w-0">
        <span class="user-search-name text-truncate">Username</span>
        <span class="user-search-email text-truncate">email@example.com</span>
    </span>
</button>
